.games-page {
  padding: 2rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.games-header h2 {
  color: #a48ef4;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.games-header p {
  color: #ccc;
  font-size: 1rem;
  text-align: center;
}

.mobile-link-filtros {
  display: block;
  text-align: right;
  font-size: 0.98rem;
  color: #7c3aed;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  background: none;
  border: none;
}

.games-grid {
  display: grid;
  gap: 2rem;
}

.games-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.games-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters-container {
  padding: 1rem;
  border-radius: 8px;
}

.cards-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.no-games-message {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.1rem;
  color: #999;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin: 1rem auto 0;
}

.pagination button {
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  background-color: transparent;
  color: #994bff;
  border: 2px solid #431dcc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination button:hover {
  background-color: #431dcc;
  color: white;
}

.pagination button.active {
  background-color: #5d17c6;
  color: white;
  font-weight: bold;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Tablet */
@media screen and (min-width: 768px) {
   .pagination button {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
  }
}

/* Escritorio */
@media screen and (min-width: 1024px) {
  .games-page {
    padding: 2rem 3rem;
  }

  .games-header h2 {
    font-size: 1.8rem;
  }

  .games-header p {
    font-size: 1.1rem;
  }

  .mobile-link-filtros {
    display: none;
  }

  .games-grid.usuario {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
  }

  .games-grid.administrador {
    grid-template-columns: 1fr;
  }
  .games-grid.administrador .game-filters {
    display: flex;
    width: fit-content;      
    margin: 0 auto; 
  }

  .game-filters input,
  .game-filters select,
  .game-filters button {
    width: auto;              
  }

  .games-form {
    max-width: 400px;
  }

  .cards-container.usuario {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-container.administrador {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .pagination {
    justify-content: flex-end;
  }
}