.custom-button {
  padding: 0.75rem;
  background-color: #5a20ec;
  box-shadow: 2px 3px 2px #3b149c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.custom-button:hover {
  background-color: #4019a2;
}
.custom-button:active {
  background-color: #1f0c4f;
  box-shadow: 2px 0px 4px #3b149c;
}

.btn-close{
    min-width: unset !important;
    width: 32px !important;
    height: 32px !important;
    padding: 0 !important;
    font-size: 1rem;
    border-radius: 50%;
    background-color: #5a20ec;
    border: 1px solid #321382;
    box-shadow: 2px 3px 2px #3b149c;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--- Tablet y Escritorio--- */
@media screen and (min-width: 768px) {
  .custom-button {
    width: auto;
    min-width: 100px;
  }
}