.custom-button {
  padding: 0.75rem;
  background-color: #5a20ec;
  box-shadow: 2px 3px 2px #3b149c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
}

.custom-button:active {
  background-color: rgb(24, 10, 57);
  box-shadow: 2px 0px 4px #321188;
}

.btn-close{
  min-width: unset !important;
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;
  font-size: 1rem;
  border-radius: 50%;
  background-color: #5a20ec;
  border: 1px solid #321382;
  box-shadow: 2px 3px 2px #3b149c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-icon {
  padding: 0;
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  width: 10%;
  text-align: right;
}

/*--- Tablet y Escritorio--- */
@media screen and (min-width: 768px) {
  .custom-button {

    font-size: 1rem;
  }
  .btn-contact{
    width: auto;
    max-width: 100px;
  }
  .btn-uploadImage{
    width: auto;
    max-width: 150px;
  }
  .create-button{
    width: auto;
    font-size: 1rem;
  }
  .btn-nf{
    max-width: 100px;
  }
  .imagen-delete-button{
    font-size: 1rem;
  }
  .custom-button:hover {
    background-color: #6f11da;
    box-shadow: 2px 3px 2px #32177a;
  }
   .navbar-button:hover {
    background-color: #3c0ab8;
    box-shadow: 2px 3px 2px #281264;
  }

}