.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form h2 {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.7rem;
}

.login-form label {
  margin-bottom: 0.2rem;
  color: #ccc;
  text-align: left;
}
.login_form-group {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  background-color: #2c2c2c;
  color: #fff;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/*------- Tablet-------- */
@media screen and (min-width: 768px) {
  .login-buttons {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .login-form label {
    font-size: 1.3rem;
    font-weight: 600;
  }

}

/*---- Escritorio----- */
@media screen and (min-width: 1024px) {

  .login-form {
    gap: 1.5rem;
  }
  
}