.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #2f2036, #482468);
  color: #fff;
  padding: 1rem;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.navbar__logo img {
  height: 60px;
  width: 10rem;
}

.navbar__toggle {
  font-size: 1.5rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
}

.navbar__links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #2f2036, #482468);
  padding: 1rem;
  gap: 1.5rem;
  z-index: 999;
}

.navbar__links.active {
  display: flex;
}

.navbar__links a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.navbar__user-mobile {
  display: flex;
  justify-content:end;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.navbar__user-desktop{
  display: none;
}

.logout-icon {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: white;
}
.navbar_username{
  font-size: 1.4rem;
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
  .navbar__toggle {
    display: none;
  }

  .navbar__links {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
    padding: 0;
    gap: 2rem;
  }
  .navbar__links a {
    font-size: 1.2rem;
  }

  .navbar__user-mobile {
    display: none;
  }

  .navbar__user-desktop {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    margin-right: 1.2rem;
  }

  .navbar_username{
    font-size: 1.2rem;
  }

  .navbar__user-desktop button {
    padding: 0.6rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
  }
}