.image-gallery {
  margin-top: 1rem;
  border-radius: 8px;
}

.image-gallery h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #ccc;
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #7f21e3;
  box-shadow: 2px 3px 2px #59217e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  content: 'Seleccionar imagen'; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}


.image-gallery .custom-button-upload {
  margin-bottom: 1rem;
}

.image-list {
  margin-top: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.image-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-item img {
  border-radius: 4px;
  margin-bottom: 0.5rem;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  height: 150px;
}

.image-delete-button {
  position: absolute;
  top: -6px;
  right: -6px;
  border: none;
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  line-height: 20px;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {

  .image-item img {
    object-fit:cover;
    margin-bottom: 0.5rem;
    width: 140px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    height: 140px;
  }
  .image-gallery {
    padding: 1rem;
  }


}

