* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  background-color: #1f1e1e; 
  color: #f0f0f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
label{
  font-size: 1.3rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 2rem;
}

.error {
  color: #ff6b6b;
  font-size: 1rem;
}

.Toastify__toast {
  background-color: #371948;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  font-family: inherit;
}

.Toastify__toast--error .Toastify__progress-bar {
  background: #a30b40; 
}



.Toastify__toast--success {
  background-color: #342169; 
}
.Toastify__toast--success .Toastify__progress-bar {
  background: #7227f2; 
}

@media screen and (min-width: 768px) {
  label{
    font-size: 1.1rem;
  }
}